<% if @question %>

  <h1><%= @question.content %></h1>
  <%= link_to "All categories", categories_path %> |
  <%= link_to @category.name, category_path(@category) %> |

  <ul>
    <% @question.choices.each do |choice| %>
    <% option_class = @question.choice_id == choice.id ? "correct" : "" %>
      <li class="<%= option_class%>" >
        <%= link_to choice.content, category_sub_category_question_choice_path(@category, @sub_category, @question, choice) %>
      </li>
    <% end if @category.sub_categories %>
  </ul>

<% end %>
