<div id="application"> 

    <div id="container">
      <!-- Content Homework Progress-->
      <div class="test-wrapper">
        
        <div class="test-title-wrapper">
          <h1> Pruebas de Aptitud</h1>
        </div>
          <div class="test-content-wrapper">
            <div class=" row rox-fix">
              <ul class="nav nav-tabs nav-justified test-navs" role="tablist">
                <li class="active"><a href="#terminados" aria-controls="terminados" role="tab" data-toggle="tab" class="test-navs-link">Terminados <span class="badge badge-terminados"></span></a></li>

                <li><a href="#en_progreso" aria-controls="en_progreso" role="tab" data-toggle="tab" class="test-navs-links" >En Progreso <span class="badge badge-pendientes"></span></a></li>

                <li><a href="#respondidos" aria-controls="respondidos" role="tab" data-toggle="tab" class="test-navs-links" >Respondidos <span class="badge badge-respondido"></span></a></li>
              </ul>

              <div class="test-content-wrapper">
              <% ut = 0; up = 0; ur = 0 %>
                <div class="tab-content">
                  <% User.all.each do |u| %>
                    <% if u.has_attitude_tests? %>
                      <!-- Tab panes -->
                        <% if u.user_attitude_tests.completed.count == Test.attitude.count && !u.attitude_test_observation %>
                          <% if ut == 0 %>
                      <div class="tab-pane active test-content-wrapper" id="terminados" style="padding:0">
                          <% end %>
                          <% ut += 1 %>
                          <div class="row rox-fix">
                            <div class="col-sm-2">
                              <% if (u.image.present?) %>
                                <%= image_tag(u.image.url, class: "img-responsive", alt: "#{u.first_name} #{u.last_name}") %>
                              <% else %>
                                <% if (u.gender == false or u.gender == nil) %>
                                    <%= image_tag("avatar-guy.png", class: "img-responsive", alt: "#{u.first_name} #{u.last_name}") %>
                                <% else %>
                                    <%= image_tag("avatar-girl", class: "img-responsive", alt: "#{u.first_name} #{u.last_name}") %>
                                <% end %>
                              <% end %>
                            </div>
                            <div class="col-sm-3">
                              <h3><%= u.first_name %> <%= u.last_name %></h3>
                              <h4><%= u.email %></h4>
                            </div>
                            <div class="col-sm-7">
                              <p style="text-align: center">
                                Ver respuestas
                                <div class="btn-group btn-group-justified">
                                  <% u.user_attitude_tests.each do |a| %>
                                    <%= link_to "#{a.test.title}", backend_attitude_path(a), class: 'btn btn-success' %>
                                  <% end %>
                                </div>
                              </p>
                              <textarea name="attitude_test_observation" id="ato" rows="5" tabindex="1" class="form-control"></textarea>
                              <p>
                                <div class="btn-group btn-group-justified">
                                  <%= link_to "Evaluar", nil, class: "btn btn-warning"  %>
                                </div>
                              </p>
                            </div>
                          </div>
                        <% end %>
                      </div>

                        <% if u.user_attitude_tests.completed.count != Test.attitude.count %>
                          <% if up == 0 %>
                      <div class="tab-pane test-content-wrapper" id="en_progreso" style="padding:0">
                          <% end %>
                          <% up += 1 %>
                          <div class="row rox-fix">
                            <div class="col-sm-2">
                              <% if (u.image.present?) %>
                                <%= image_tag(u.image.url, class: "img-responsive", alt: "#{u.first_name} #{u.last_name}") %>
                              <% else %>
                                <% if (u.gender == false or u.gender == nil) %>
                                    <%= image_tag("avatar-guy.png", class: "img-responsive", alt: "#{u.first_name} #{u.last_name}") %>
                                <% else %>
                                    <%= image_tag("avatar-girl", class: "img-responsive", alt: "#{u.first_name} #{u.last_name}") %>
                                <% end %>
                              <% end %>
                            </div>
                            <div class="col-sm-3">
                              <h3><%= u.first_name %> <%= u.last_name %></h3>
                              <h4><%= u.email %></h4>
                            </div>
                            <div class="col-sm-7">
                              <p>
                                <% u.user_attitude_tests.each do |a| %>
                                  <% cl = "btn" + (a.completed? ? " btn-success" : " btn-warning") %>
                                  <%= link_to "#{a.test.title}", backend_attitude_path(a), class: cl  %>
                                <% end %>
                              </p>
                            </div>
                          </div>
                        <% end %>
                      </div>
                      
                        <% if u.user_attitude_tests.completed.count == Test.attitude.count && u.attitude_test_observation %>
                          <% if ur == 0 %>
                      <div class="tab-pane test-content-wrapper" id="respondidos" style="padding:0">
                          <% end %>
                          <% ur += 1 %>
                          <div class="row rox-fix">
                            <div class="col-sm-2">
                              <% if (u.image.present?) %>
                                <%= image_tag(u.image.url, class: "img-responsive", alt: "#{u.first_name} #{u.last_name}") %>
                              <% else %>
                                <% if (u.gender == false or u.gender == nil) %>
                                    <%= image_tag("avatar-guy.png", class: "img-responsive", alt: "#{u.first_name} #{u.last_name}") %>
                                <% else %>
                                    <%= image_tag("avatar-girl", class: "img-responsive", alt: "#{u.first_name} #{u.last_name}") %>
                                <% end %>
                              <% end %>
                            </div>
                            <div class="col-sm-3">
                              <h3><%= u.first_name %> <%= u.last_name %></h3>
                              <h4><%= u.email %></h4>
                            </div>
                            <div class="col-sm-7">
                              <p>
                                <% u.user_attitude_tests.each do |a| %>
                                  <%= link_to "#{a.test.title}", backend_attitude_path(a), class: 'btn btn-info' %>
                                <% end %>
                              </p>
                              <p>
                                <textarea name="attitude_test_observation" id="ato" rows="10" class="form-control"><%= u.attitude_test_observation %></textarea>
                              </p>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>

            </div>  
          </div>
      </div>
    </div>
</div>
<script>
  $(document).ready(function() {
    $(".badge-terminados").html(<%= ut %>);
    $(".badge-pendientes").html(<%= up %>);
    $(".badge-respondido").html(<%= ur %>);
  });
</script>
