<% filter_args ||= @filter_args || {} %>

<!-- <div class="filter-desc">Filtrar Estadísticas por: </div>
<nav id="primary_nav_wrap">
  <ul>
    <li class="current-menu-item">
      <a id="current_filter" href="#"><%= filter_args[:model] || ": none" %></a>
      <ul >
        <li class="dir"><%= link_to "none", simulators_filter_chart_path(model: "", model_id: "", model_name: "none"), remote: true, method: 'POST' %></a>
        <li class="dir">Categoría</a>
          <ul >
            <% @simulated_categories.each do |simul| %>
              <li><%= link_to simul.category.name, simulators_filter_chart_path(model: "category", model_id: simul.category.id, model_name: simul.category.name), remote: true, method: 'POST' %></li>
            <% end if @simulated_categories %>
          </ul>
        </li>
        <li class="dir">Subcategoría
          <ul>
            <% @simulated_categories.each do |simul| %>
              <li><%= simul.category.name %></li>
              <% sub_categories = simul.category.sub_categories %>
              <% sub_categories.each do |sub_category| %>
                <li><%= link_to sub_category.name, simulators_filter_chart_path(model: "sub_category", model_id: sub_category.id, model_name: simul.category.name), remote: true, method: 'POST' %></li>
              <% end if sub_categories %>
            <% end if @simulated_categories %>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
 -->