<% question ||= @question; simulator ||= @simulator; question_no ||= ""; %>
<% answered_question ||= (@answered_question || get_simulator_answered_question(SimulatorAnsweredQuestion, simulator.id, question.id)) %>
<% count = 0; form_class = "simulator-#{simulator.id}-question-#{question.id}" %>

<div>

  <div id="<%= "question-#{question.id}" %>">
    <%= form_for [simulator, question, answered_question], html: { class: form_class }, remote: true do |f| %>
      <div class="remind-later" >
        <label >
          <%= f.check_box :marked_status, { :class => "simulator-ajax-submittable", 'data-form' => form_class }, 'marked', 'unmarked' %> Responder luego
        </label>
      </div>
      <p><%= question_no %>) <%= question.content %></p>
       <% if question.picture.to_s != '' %>
        <p><%= image_tag( question.picture, class: "question-img", alt: "Pregunta Apredemy") %></p>
      <% end%>
      <% question.choices.each do |choice| %>
        <% was_selected = answered_question.choice_id == choice.id %>
        <%= f.radio_button :choice_id, choice.id, :checked => was_selected, :class => "simulator-ajax-submittable", 'data-form' => form_class %>
        <%= " #{options[count]}  #{choice.content}" %></span>
        <br >
        <% count += 1 %>
      <% end if question.choices %>
    <% end %>
  </div>
  <hr>
</div>
