<% if @simulator %>
	<div class="content-wrapper col-sm-9 col-md-10 ">
		<div class="application-content row">
			<div class="app-payment content-margin row">
				<h3>Here goes banner to buy the license</h3>
			</div>

			<div class="content-margin row">

				<div class="application-content-header">
					<h3>Simuladores</h3>
				</div>

        <div class="app-text-holder row">
          <%= link_to "Preguntas por resolver.", simulator_path(@simulator), class:"btn btn-info", remote: true %>
          <%= link_to "Responder resueltas.", simulator_show_answered_questions_path(@simulator), class:"btn btn-info", remote: true %>
        </div>

				<div class="content-wrapper col-sm-9 col-md-10 ">
	        <div class="exercises-answers-holder row">
	          <% @questions.each do |question| %>
	            <div class="question_<%= question.id %>">
	              <p>
	                <%= render partial: "simulator_answered_questions/show", locals: { question: question} %>
	              </p>
	            </div>
	          <% end if @questions %>
	        </div>
				</div>

				<div class="content-wrapper col-sm-3 col-md-2 ">
					<div class="exercises-answers-holder row">
						<% @simulator.simulator_answered_questions.each do |question |%>
							<span class="glyphicon glyphicon-unchecked <%= question.status %>"></span>
						<% end %>
					</div>
				</div>
			</div>
		</div>

	</div>

<% end %>
