<div class="col-sm-6">
  <div class="simulator-panel">
    <div class="simulator-title">
      <h3 class="simulator-heading"> <%= simulator_type.name %> </h3>
    </div>
    <div class="simulator-text">
      <p>
        <%= simulator_type.description %>
      </p>
        <div class="simulator-list">
          <div>
            <i class="fa fa-pencil"></i><p class="simulator-icon-text"><%= simulator_type.total_questions %> Ejercicios de practica.</p>
          </div>
          <div>
            <i class="fa fa-clock-o"></i><p class="simulator-icon-text"><%= (simulator_type.time_duration.seconds_since_midnight / 60).floor %> minutos de duración.</p>
          </div>
          <div>
            <i class="fa fa-line-chart"></i><p class="simulator-icon-text"><%= simulator_type.points %> puntos para tu ranking.</p>
          </div>
        </div>
        <%= button_to "Empezar Examen", simulators_path, method: 'post', params: { simulator_type_id: simulator_type.id}, class:"btn btn-info simulator-start" %>
    </div>
  </div>
</div>
