<% @series = []; @simulators_date = []; simulators_answered = []; simulators_correct = []; simulators_incorrect = [] %>
<% answered = 0; correct = 0; incorrect = 0; total = 0; questions_count = 0 %>
<% filter_args ||= @filter_args %>

<h3 class="table-simulator-head">Tabla de Simuladores</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="simulator-th">Tipo de Simulador</th>
      <th class="simulator-th ">Estado</th>
      <th class="simulator-th ">Preguntas Totales</th>
      <th class="simulator-th simulator-tb-mobile" >Fecha</th>
      <th class="simulator-th simulator-tb-mobile" >Preguntas contestadas</th>
      <th class="simulator-th simulator-tb-mobile">Preguntas correctas</th>
      <th class="simulator-th simulator-tb-mobile">Preguntas incorrectas</th>
      <th class="simulator-th">Link</th>
    </tr>
  </thead>

  <tbody>
    <% simulators.each do |simulator| %>

      <!-- individual simulator stats -->
      <% simulator_type = simulator.simulator_type %>
      <% total = simulator_type.total_questions %>
      <% questions_count = simulator.questions.count %>
      <% answered = simulator.answered_questions_list(filter_args).count %>
      <%# simulators_answered << ((answered.to_f/(questions_count > 0 ? questions_count.to_f : 1)) * 100) %>
      <% correct = simulator.answered_correctly(filter_args).count; %>
      <% simulators_correct << ((correct.to_f/(answered > 0 ? answered.to_f : 1)) * 100) %>
      <% incorrect = simulator.answered_incorrectly(filter_args).count %>
      <% simulators_incorrect << ((incorrect.to_f/(answered > 0 ? answered.to_f : 1)) * 100) %>

      <% @simulators_date << time_ago_in_words(simulator.updated_at, include_seconds: true) + " ago" %>
      <tr class="table-category">
        <td class="simulator-td"><%= simulator_type.name  %></td>
        <td class="simulator-td"><%= simulator.status %></td>
        <td class="simulator-td"><%= "#{answered} / #{total}" %></td>
        <td class="simulator-td simulator-tb-mobile"><%= simulator.updated_at.strftime("%b %d, %Y") %></td>
        <td class="simulator-td simulator-tb-mobile"><%= answered %></td>
        <td class="simulator-td simulator-tb-mobile"><%= (correct if simulator.completed?) || "-" %></td>
        <td class="simulator-td simulator-tb-mobile"><%= (incorrect if simulator.completed?) || "-"  %></td>
        <td class="simulator-td">

          <%= link_to simulator_path(simulator) do %>
                  <span class="icon icon-simulator simulator-link-mobile"></span>
                  <span class="simulator-link-desktop">Ingresar al Examen</span>
          <% end %>

          <%= link_to "", simulator_path(simulator), class: "btn btn-info simulator-start" %>
        </td>
      </tr>
    <% end if simulators %>
  </tbody>
</table>

<%# @series << {name: 'Question answered', data: simulators_answered, color: '#7cb5ec'} %>
<% @series << {name: 'Correctas', data: simulators_correct, color: '#90ed7d' }%>
<% @series << {name: 'Incorrectas', data: simulators_incorrect, color: '#EA586B' } %>

<%= render "layouts/chart_info.js", title: "Progreso en Simuladores", categories: @simulators_date, series: @series %>
