- row_break = "</div><div class='row'>"; count = 0
.simulator-visual-clues.col-sm-3
  .row.simulator-sections-clues
    %h3.simulator-clues-heading Secciones
    - @simulated_categories.each do |simul|
      .clues-subheading= simul.category.name
    - end if @simulated_categories
  .row
    - questions_meta.each do |question_meta|
      - clue_class = clue_status(question_meta[:answered], question_meta[:marked])
      = link_to "#question-#{question_meta[:id]}" do
        %div{:class => "simulator-clue clue-#{question_meta[:id]} clue-#{clue_class}"}
          = question_meta[:serial_no]
        - count += 1
      = row_break.html_safe if (count % 4) == 0
  .visual-colored-clues.row
    %ul
      %div
        %span.simulator-clue-answered
        %li.list-simulator-clue Contestadas
      %div
        %span.simulator-clue-later
        %li.list-simulator-clue Contestar Despues
      %div
        %span.simulator-clue-no-answer
        %li.list-simulator-clue No Contestadas
