<div class="application-wrapper container-fluid">
		<div class="row">
			<%= render "layouts/user_sidebar" %>

			<div class="main-bg">
        <content>

    			<div class="content-wrapper col-sm-9 col-md-10 ">
    				<div class="application-content row">

      				<%= render 'home/banner' %>

    					<div class="content-margin row">
    						<div class="application-content-header">
    							<h3>Simuladores</h3>
    						</div>
    						<div class="app-text-holder row">
      							<div>
      								<p class="simulator-text-explanation">
  					        		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum porttitor justo, ut euismod sem viverra eget. Mauris auctor pellentesque felis, in venenatis augue tincidunt eu. Nunc ullamcorper arcu urna, vitae venenatis quam volutpat sit amet. Fusce rutrum, nibh id condimentum sodales, lacus nisl malesuada neque, sit amet congue sem turpis eget sapien. Sed nec tortor vel ligula facilisis molestie eu facilisis risus. Suspendisse vel nisl id libero facilisis tincidunt. Donec id leo vel orci euismod tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    					    		</p>
    						    </div>

                    <% @simulator_types.each do |simulator_type| %>
      								<%= render 'simulators/simulator_type_card', simulator_type: simulator_type %>
                    <% end %>

    						</div>

								<div class="app-text-holder row">
									<%= render "simulators/filter_menu" %>

									<div id="chart_holder">
										<div id="chart_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
									</div>
								</div>

                <div class="app-text-holder row">
                  <div id="statistics_table">
                      <%= render 'simulators/statistics_table', simulators: @simulators %>
                  </div>
                </div>

    					</div>

    				</div>
    			</div>

				</content>
			</div>

		</div>

	</div>
