<% questions_meta = []; count = 0 %>
		<div class="application-wrapper container-fluid">
			<div class="row">

				<div class="content-wrapper">

					<div class="application-content ">
						<div class="simulator-test-holder col-sm-9 ">

							<% @simulated_categories.each do |simulated_category| %>
								<% category = simulated_category.category %>
								<div class="simulator-heading">
									<h3><%= category.name %></h3>
								</div>

								<% category.sub_categories.each do |sub_category| %>
									<div class="simulator-questions">
										<div class="subcategory-holder">
											<h4><%= sub_category.name %></h4>
											<p>De los siguientes ejercicios, seleccione la opción que mejor exprese una RELACIÓN SIMILAR a la de las palabras en mayúsculas.</p>
											<hr>

											<% sub_questions = @questions.select{|question| question[:sub_category_id] == sub_category.id} %>
											<% sub_questions.each do |sub_question| %>
												<% count += 1 %>
												<% answered_question ||=  get_simulator_answered_question(SimulatorAnsweredQuestion, @simulator.id, sub_question.id) %>
												<div class="question_<%= sub_question.id %>">
													<% unless @simulator.completed? %>
														<%= render "simulators/question", question: sub_question, answered_question: answered_question, question_no: count %>
													<% else %>
														<p>
															<%= render partial: "simulator_answered_questions/show", locals: { question: sub_question} %>
														</p>
													<% end %>
													<% questions_meta << answered_question_meta(sub_question.id, answered_question, count) %>
												</div>
											<% end if sub_questions %>

										</div>
									</div>
								<% end %> <!--sub_category loop -->

							<% end if @simulated_categories && @simulator %><!--simulated_category loop -->

						</div>

						<% unless @simulator.completed? %>
							<%= render "simulators/timer" %>
						<% end %>

						<%= render "simulators/visual_colored_cues", questions_meta: questions_meta %>


					</div>
				</div>
			</div>
		</div>
<%= render "modal" %>
