

<!-- Home Banner Start -->
    <div class="container-fluid" id="landing-banner">
        <div class="row lg-screen-container">
            <div class="col-sm-5 col-md-4">
                <div class="landing-img-container">
                    <%= image_tag("enes.png", class: "mobile-img-banner", alt: "Apredemy ENES") %>
                </div>
            </div>
            <div class="col-sm-7 col-md-offset-1 col-md-7">
                <div class="">
                    <h1 class="landing-heading">
                        Resolución en VIVO del examen ENES-SENESCYT
                    </h1>



                    <div class="landing-p">
                        <p>Transmisión: Lunes 9 de Mayo a las 19h30.</p>
                        <a href="https://www.facebook.com/events/607404752748373/" target="_blank" style="margin-bottom: 25px !important;">Únete a nuestro evento en Facebook</a>
                    </div>
                </div>
                <div class="btn-download">
                    <div class="lock mct_shareit_locker">
                        <h3>Resolveremos en VIVO el examen ENES-SENESCYT completamente gratis!</h3>
                        <ul class="advantages">Que recibes si eres usuarios PREMIUM
                            <li>10 exámenes extras en tu correo para practicar</li>
                            <li>Un folleto con las preguntas del ENES 2015 (60% de las preguntas pueden repetirse en el examen de este año)</li>
                            <li>Clases extras mostrándote la resolución de 2 exámenes más</li>
                        </ul>
                        <button class="enes-btn btn btn-success"><%= link_to 'Click aquí para Descargar nuestra prueba tipo', landing_pdf_path %>
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Que haremos -->
    <div class="what-we-do">
        <div class="container what-we-do-container">
            <div class="what-we-do-title">
                <%= image_tag("enes3.png", alt: "Apredemy ENES") %>
                <h1>¿Qué Haremos En Esta Transmisión?</h1>
            </div>

            <div class="row what-we-do-explanation">
                <div class="col-md-4">
                    <%= image_tag("enes2.png", alt: "Apredemy ENES") %>
                    <h3>Resolver el examen</h3>
                    <p>Resolveremos paso a paso cada una de las 120 preguntas del simulador gratuito.</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag("enes1.png",  alt: "Apredemy ENES") %>
                    <h3>Despejar tus duda</h3>
                    <p>Trae todas las dudas que te haya surgido al resolver el examen y nuestros profesores te ayudaran a despejarlas.</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag("enes4.png", alt: "Apredemy ENES") %>
                    <h3>Espacio de preguntas</h3>
                    <p>Habrá un espacio donde los profesores resolverán todas las preguntas relacionadas al ENES.</p>
                </div>
            </div>
            <!-- Participa en Vivo -->
            <div class="participate">
                <h1>¡Participa En Vivo!</h1>
                <p>Haz preguntas vía WhatsApp, para unirte a la conversación agréganos al número 0983805516
                <br>
                <br>
                Transmisión en Vivo: Lunes 9 de Mayo a las 19h30
                <br>
                Profesores: Ing. Fausto Hidrobo e Ing. Diego Mayorga
                <br>
                <br>
                Notas Importante
                <ul class="advantages">
                    <li>Es recomendable que resuelvas el examen antes de la transmisión</li>
                    <li>Los usuarios PREMIUM recibirán 10 exámenes extras para practicar</li>
                    <li>Los usuario PREMIUM recibirán un folleto con las preguntas del ENES 2015 (Recuerda que alrededor de 60% de las preguntas pueden repetirse)</li>
                    <li>Los usuarios PREMIUM tendrán 2 clases extras de resolución de exámenes</li>
                </ul>
                <br>
                <strong>Puedes comprar tu licencia PREMIUM por tan solo $29.99. Para hacerlo llámanos al 0983805516 o envíanos un email a hola@aprendemy.com. Puedes encontrar las instrucciones de pago <%= link_to "aquí", "/pagos" %>.</strong>
                </p>
                <div>
                    <button class=" enes-btn btn btn-success">
                        
                        <%= link_to 'Quiero registrarme en Aprendemy', 'users/sign_in' %>
                    </button>
                </div>

            </div>

            


        </div>
    </div>

    <div class="footer">
        <p class="copyright">
            Copyright © 2016. Aprendemy.
        </p>
        <div class="footer-img">
            <%= image_tag("isotipo.png", class: "aprendemy-img", alt: "Apredemy Logo") %>
        </div>

        <div class='community-icons-footer'>
            <a href="https://www.facebook.com/aprendemy" target="_blank"><i id="social-fb-footer" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/aprendemy" target="_blank"><i id="social-tw-footer" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://www.youtube.com/channel/UCc6N8LIO-yPIsDqM50ypxjQ" target="_blank"><i id="social-yt-footer" class="fa fa-youtube-square fa-3x social"></i></a>
            <a href="https://www.instagram.com/aprendemy/" target="_blank"><i id="social-in-footer" class="fa fa-instagram fa-3x social"></i></a>
            <a href="mailto:hola@aprendemy.com" target="_blank"><i id="social-em-footer" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>






<script type="text/javascript">
  var options = {
        title: "Descarga tu PDF para la clase en vivo", //Heading of Content Locker
        text: 'Resolveremos en VIVO el examen de ENES-SENESCYT que Aprendemy tiene disponible para ti. Haz click en compartir para descargar el examen.', 
        //Subheading of Content Locker
        facebook:{
            url: window.location.href,  //Your Content Page Url
            pageId: "https://www.facebook.com/aprendemy",  //Your Facebook Page Url
            appId: 928864270524469 //Your Facebook App ID
        },
        buttons:["facebook_share","facebook_like","twitter_tweet","twitter_follow","googleplus","linkedin"]
    };
 
$(".lock").shareIt(options);
</script>