<% qs = 0 %>
<% show_explanation = !@answers.nil? %>
<div class="main-title-wrapper">
	<h1> Pregunta <span class="question_number"></span> de <%= @resource.material_type == "Task" ? @resource.total_questions : "0" %> </h1>
	<div class="hw-arrows">
		<i class="fa fa-arrow-left prev" aria-hidden="true"></i>
		<i class="fa fa-arrow-right next" aria-hidden="true"></i>
	</div>

</div>
<div class="hw-progress-bar">
	<% percent = 100.00 / @resource.material.questions.count %>
	<div id="myBar" class="hw-progress" style="width:<%= percent %>%"></div>
</div>
<% if @resource.material_type == "Task" && @resource.material.questions %>
	<% 
	i = 0 
	target = ""
	met = ""
	met = :put unless @resource_progress.completed
  target = student_course_progress_resource_path(@course,1,@resource) unless @resource_progress.completed
	%>
	<%= form_tag target, :method => met do %>
		<%= hidden_field_tag :id, @resource.id %>
		<% @resource.material.questions.each do |q| %>
			<div class="homework-wrapper row rox-fix question <%= "question_active" if i == 0 %>" data-current="<%= i %>" >
				<div class="hw-question">
					<% if @answers %>
						<% wrong = true if @answers.where(question_id: q.id).first.choice_id != q.choice_id %>
					<% end %>
					<% if q.picture.present? %>
					  <%= image_tag(q.picture.url, class: "img-responsive", alt: q.content, style: "width: 100%, height: auto;") %>
					<% end %>
					<% if q.explanation && show_explanation %>
				    <!-- Explicación = q.explanation -->
					<% end %>
					<p><%= q.content %></p>
	
					<% if q.questions %>
					  <% q.questions.each do |qs| %>
					  	<hr style="width:80%">
					  	<div class="hw-question">
					  		<p><%= qs.content %></p>
						    <% if qs.picture.present? %>
						      <%= image_tag(q.picture.url, class: "img-responsive", alt: qs.content, style: "width: 100%, height: auto;") %>
						    <% end %>
					    </div>
						<% end %>
					<% end %>

					<% if q.choices %>
					  <% 
					  letters = ("A".."Z").to_a
					  lpos = 0
					  
					  answer_class = ""
					  answer_title = ""
					  answer_text = ""
					  
					  %>
					  <% answer_class = "wrong-color"
					     answer_title = "Ops!"
					     answer_text = "Esa respuesta es incorrecta :(" %>
					  <% q.choices.each do |c| %>
					    <%
					    cl = ""
					    st = ""
					    ch = @answers.where(question_id: q.id).first.choice_id == c.id ? true : false if @answers
					    %>
					    <% if @answers %>
					      <% if @answers.where(question_id: q.id).first.choice_id == c.id %>
					        <% ch = true %>
					        <% if wrong %>
					          <% cl = "wrong" %>
					        <% else %>
					          <% cl = "right" %>
					        <% end %>
					      <% end %>
					    <% end %>
					    <label class="coolbox">
					      <%= radio_button_tag "question_ids[#{q.id}]", c.id, ch %>
					      <span class="box-number <%= cl %>"> <%= letters[lpos] %> </span>
					      <span class="box-info"> <%= c.content %> </span>
					      <% if @answers %>
					        <% if @answers.where(question_id: q.id).first.choice_id == c.id %>
					          <% if wrong %>
					            <% answer_class = "wrong-color"
					               answer_title = "Ops!"
					               answer_text = "Esa respuesta es incorrecta :(" %>
					          <% else %>
					            <% answer_class = "right-color"
					               answer_title = "Bien hecho!"
					               answer_text = "La respuesta es correcta :)" %>
					          <% end %>
					        <% end %>
					      <% end %>
					    </label>
					    <% lpos += 1 %>
					  <% end %>
					  <div class="answer-question-btn">
					  	<% if i + 1 < @resource.total_questions %>
					  		<button class="btn btn-info btn-answer">Siguiente Pregunta</button>
					  	<% else %>
					  		<input type="submit" value="Completar Tarea" class="btn btn-info btn-answer submit">
					  	<% end %>
					  </div>
					  <% if show_explanation %>
				  	<hr style="width:80%">
				    <div class="answer">
				      <p><i class="fa fa-times-circle-o <%= answer_class %>" aria-hidden="true"></i> 
				      <span class="<%= answer_class %>"> <%= answer_title %> </span> <%= answer_text %> </p>
				      <% if !q.explanation.empty? %>
				      <div class="show-video">
				        <p data-explanation="<%= q.explanation %>" data-url="<%= q.url %>" class="show_explanation"> Ver explicación </p> 
				      </div>
					  	<% end %>
				    </div>
					  <% end %>
					<% end %>
				</div>
			</div>
			<% i += 1 %>
		<% end %>
	<% end %>
<% end %>

<div class="main-content-wrapper fr-view row rox-fix" >
  <%= render 'progress_controller'%>
</div>

<div class="modal fade" id="message" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" style="background-color:white;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="color:black;" id="ModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="ModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
	$(document).ready(function(){
		$(".question_number").html(1);
		$(".homework-wrapper").not(".question_active").hide();
		$(".btn-answer, .next").on('click', function(event) {
			event.preventDefault();
			var current = parseInt($(".question.question_active").attr("data-current"));
			if (current + 1 < <%= @resource.material_type == "Task" ? @resource.total_questions : "0" %>) 
				goNext(current);

		  if( $('input[name^="question_ids"]:checked').size() == <%= @resource.total_questions %> )
		  {
		  	$("#last").hide();
		  }

		});

		$(".prev").on('click', function(event) {
			event.preventDefault();
			var current = parseInt($(".question.question_active").attr("data-current"));
			if (current > 0) 
				goPrev(current);
		});

		function goNext(current) {
			var next = current + 1;
			$(".question_number").html(next + 1);
			$(".hw-progress").css('width', <%= percent %> * (next + 1) + "%");
			$(".question").removeClass('question_active').hide('fast');
			$(".question[data-current="+next+"]").addClass('question_active').show('fast');
		}

		function goPrev(current) {
			var prev = current - 1;
			$(".question_number").html(prev + 1);
			$(".hw-progress").css('width', <%= percent %> * (prev + 1) + "%");
			$(".question").removeClass('question_active').hide('fast');
			$(".question[data-current="+prev+"]").addClass('question_active').show('fast');
		}

	  $('.submit').click(function(){
	  	// console.log($('input[name^="question_ids"]:checked').size());
	    if( $('input[name^="question_ids"]:checked').size() == <%= @resource.total_questions %> )
	    {
	  		$("form").submit();
	      return true;
	    }
	    else
	    {
	    	$('#ModalTitle').html('Nota:');
		    $('#ModalBody').html("Usted debe contestar todas las preguntas para completar esta tarea");
		    showModal();
	    	return false;
	    }
	  });

	  $(".show_explanation").on('click', function(event) {
	    event.preventDefault();
	    /* Act on the event */
	    $('#ModalTitle').html('Ver explicación');
	    exp_data = $(this).attr('data-explanation');
	    html = "";
	    if ($(this).attr('data-url').length > 0)
	    {

	    	html = "<div class='video-holder' id='video-holder'>\
		    					<iframe src='"+$(this).attr('data-url')+"' width='100%' height='100%' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>\
		    				</div>";
	    }	
	    html = html + "<p>"+exp_data+"</p>";

	    $('#ModalBody').html(html);
	    showModal();
	  });

	  function showModal() {
	    $('#message').modal({
	      keyboard: false,
	      backdrop: 'static'
	    });
	  }

	});

</script>
