<h3> New Category </h3>

<%= form_for ([@category, @sub_category, @question, @choice]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content, autofocus: true %>
  </div>

  <div class="field">
    <%= check_box_tag :correct_choice %>
    <%= f.label :correct_choice %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
