<% if @choice %>

  <h1><%= @choice.content %></h1>
  <%= link_to "All categories", categories_path %> |
  <%= link_to @category.name, category_path(@category) %> |
  <%= link_to @sub_category.name, category_sub_category_path(@category, @sub_category) %> |
  <%= link_to @question.content, category_sub_category_question_path(@category, @sub_category, @question) %>

  <p>Choice is <%= @choice.content %></p>


<% end %>
