<!-- Info Landing Section -->
<div class="info-landing-bg">
	<div class="container">
		<div class="col-md-4 info-landing-container">
			<div class="info-landing">
				<h1>Educación a tu medida</h1>
				<p>En Aprendemy tu proceso de aprendizaje está garantizado. Estudia lo que quieras en el lugar y en el momento que prefieras.</p>
			</div>
		</div>
	</div>
</div>

<!-- Courses Section-->
<div id="courses">
	<div class="container">
		<div class="courses-title">
			<h1>Cursos de Aprendemy</h1>
			<p>Los cursos de Aprendemy son el resultado de un equipo experto en educación, todas nuestras herramientas han sido diseñadas en base a la experiencia de nuestros docentes y miles de alumnos.</p>
		</div>
		<!-- Courses -->
		<div class="row ">

			<% @courses.each do |course| %>
				<% 
					# Se ve feo aquí pero es eficiente al usar pleload en la consulta, sensiblemente se va a apreciar en rendimiento  
					exercises_count = course.categories.map {|c| c.sub_categories.map { |s| s.questions.length }.inject(0, :+)}.inject(0, :+)
					tutorials_count = course.categories.map {|c| c.sub_categories.map { |s| s.tutorials.length }.inject(0, :+)}.inject(0, :+)
				%>
				<a href="/student/courses/<%=course.id %>">
					<div class="course col-sm-4">	
							<div class="course-card " style="background-image:  url('<%= course.picture %>') " >
								<div class="course-card-wrapper ">
									<h2 class="course-card-title"><%= course.name %></h2>
									<h3 class="course-card-author"><%= course.author %></h3>
									<ul class="course-card-information">
							          <li><i class="nc-icon-mini ui-1_eye-19"></i><%= exercises_count %> Ejercicios</li>
							          <li><i class="nc-icon-mini ui-2_time-clock"></i><%= tutorials_count %> Tutoriales</li>
							          <li><i class="nc-icon-mini ui-2_time-clock"></i><%= course.tests.length %> Simuladores</li>
							          <li><i class="nc-icon-mini ui-2_time-clock"></i>Clases en vivo</li>
							        </ul>
								</div>
							</div>
					</div>
				</a>
			<% end %>
		</div>
	</div>
</div>

<!-- Benefits -->
<div id="benefits">
	<div class="container">
		<h3 class="benefits-main-title">Todos los cursos incluyen:</h3>
		<div class="row">
			<div class="col-sm-4 benefits-card">
				<%= image_tag("icon1.png", class: "benefits-icon", alt: "Aprendemy Beneficios") %>
				<h3 class="benefits-title">Acceso las 24 horas</h3>
				<p>Accede a nuestros cursos en cualquier momento del día, puedes ingresar cuando gustes y acomodes tus clases a tus horarios.</p>
			</div>
			<div class=" col-sm-4 benefits-card" >
				<%= image_tag("icon2.png", class: "benefits-icon", alt: "Aprendemy Beneficios") %>
				<h3 class="benefits-title">Acceso en todo dispositivo</h3>
				<p>Puedes conectarte desde cualquier dispositivo y estudiar desde cualquier lugar sin desperdiciar tu tiempo y dinero.</p>	
			</div>
			<div class="col-sm-4 benefits-card">
				<%= image_tag("icon3.png", class: "benefits-icon", alt: "Aprendemy Beneficios") %>
				<h3 class="benefits-title">Contenido Digital</h3>
				<p>Incluimos videos, textos, ejercicios, tareas, tutoriales y exámenes de todos lo que será evaluado en tu examen de admisión.</p>	
			</div>	    			
		</div>
		<div class="row">
			<div class="col-sm-4 benefits-card">
				<%= image_tag("icon4.png", class: "benefits-icon", alt: "Aprendemy Beneficios") %>
				<h3 class="benefits-title">Avance Programado</h3>
				<p>Nuestro curso te guiará paso a paso en todos los temas de los examenes, nuestro curso ha sido diseñado en base a la experiencia de nuestros docentes y miles de alumnos.</p>
			</div>
			<div class="col-sm-4 benefits-card">
				<%= image_tag("icon5.png", class: "benefits-icon", alt: "Aprendemy Beneficios") %>
				<h3 class="benefits-title">Estadisticas</h3>
				<p>Observa tu progreso. Gracias a nuestra plataforma podrás conocer tus avances, tus fortalezas y debilidades, de manera que te centres en aquello que más necesitas y asegures la calidad de tu examen.</p>
			</div>
			<div class="col-sm-4 benefits-card">
				<%= image_tag("icon6.png", class: "benefits-icon", alt: "Aprendemy Beneficios") %>
				<h3 class="benefits-title"> Clases en Vivo</h3>
				<p>Únete a nuestros cursos en vivo con profesores preparados y con experiencia en enseñanza, descubre nuevas estrategias, infórmate de mejores métodos y concéntrate en lo que realmente necesitas aprender.</p>
			</div>
		</div>
	</div>
</div>