<div id="application"> 
  <!-- Vertical Nav -->
  <%= render 'student/navigation/vertical_navbar' %>
  
  <div id="container">
      <!-- Content Course Profile-->

      <div class="main-navigation">
        <!-- User Informatioin -->
        <div class="content-navigation row">
          <div class="col-sm-5 user-details" >

            <div class="course-content-img">

                <% if (current_user.image.present?) %>
                    <%= image_tag(current_user.image.url, class: "user-photos", alt: "Apredemy-avatar") %>
                <% else %>
                    <% if (current_user.gender == false) %>
                        <%= image_tag("avatar-guy.png", class: "user-photos", alt: "Apredemy-avatar") %>
                    <% else %>
                        <%= image_tag("avatar-girl", class: "user-photos", alt: "Apredemy-avatar") %>
                    <% end %>
                <%end%>
            </div>
            <div class="course-content-user">
              <h1>Bienvenido, <%= current_user.first_name %></h1>  
              <p><%= current_user.email %></p>
              <p>Días restantes: <%= @course.plan_days_left %></p>
              <% if @course_user.course_user_plan.plan.name == "Free" %>
              <p>
                <a href="<%= payments_path %>" class="btn btn-success"> <span>Hazte Premium</span></a>
              </p>
              <% end %>
            </div>

          </div>
          <div class="col-sm-7 course-details" >
            <h1><%= @course.name %> </h1>

            <h3>Por <%= @course.author %></h3>
            <a href="<%= student_course_progress_index_path(@course) %>" class="btn btn-primary btn-lg"> <span>Continuar con el Curso</span></a>

            <p>Progreso en este curso: </p>
            <div class="progress nav-progress-bar">
              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="46" class="progress-bar progress-bar-success" role="progressbar" style="width: <%=@progress%>%">
              <%= @progress %>%
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Course Tools -->
    <div class="main-navigation">
      <div class="content-navigation row">

        <div class="course col-xs-6 col-sm-4">
          <%= link_to student_course_progress_index_path(@course)  do %>
            <div class="tool-card-wrapper" > 
              <div class="tool-card" style="background-color: #1B7E69; background-image: url('https://s3-us-west-2.amazonaws.com/codeplaceimages/angular.jpeg');" >
                <h1 class="tool-card-title" >Progreso</h1>
              </div>
            </div>
          <% end %>     
        </div>


        <div class="course col-xs-6 col-sm-4">  
          <%= link_to student_course_categories_path(@course)  do %>
            <div class="tool-card-wrapper"> 
              <div class="tool-card" style="background-color: #D96526; background-image: url('https://s3-us-west-2.amazonaws.com/codeplaceimages/payments.jpeg'); " >
                <h1 class="tool-card-title" >Ejercicios</h1>
              </div>
            </div>
          <% end %>
        </div>


          


        <div class="course col-xs-6 col-sm-4"> 

          <%= link_to student_course_tutorials_path(@course)  do %>
            <div class="tool-card-wrapper"> 
              <div class="tool-card" style="background-color: #A04EDA; background-image: url('https://s3-us-west-2.amazonaws.com/codeplaceimages/angular.jpeg');" >
                <h1 class="tool-card-title" >Tutoriales</h1>
              </div>
            </div>
          <% end %> 
        </div>
      
        <div class="course col-xs-6 col-sm-4"> 
          <%= link_to student_course_tests_path(@course)  do %>
            <div class="tool-card-wrapper"> 
              <div class="tool-card" style="background-color: #3385CC; background-image: url('https://s3-us-west-2.amazonaws.com/codeplaceimages/angular.jpeg');" >
                <h1 class="tool-card-title" >Simuladores</h1>
              </div>
            </div>
          <% end %> 
        </div>
        
        <div class="course col-xs-6 col-sm-4"> 
          <%= link_to student_course_live_classes_path(@course) do %>
              <div class="tool-card-wrapper"> 
                <div class="tool-card" style="background-color:#ED655E; background-image: url('https://s3-us-west-2.amazonaws.com/codeplaceimages/payments.jpeg');" >
                  <h1 class="tool-card-title" >Clases en Vivo</h1>
                </div>
              </div>
          <% end %> 
        </div>
        
        <div class="course col-xs-6 col-sm-4"> 

          <%= link_to root_path do %>
              <div class="tool-card-wrapper"> 
              <div class="tool-card" style="background-color: #425C8A; background-image: url('https://s3-us-west-2.amazonaws.com/codeplaceimages/angular.jpeg');">
                <h1 class="tool-card-title" >Estadísticas</h1>
              </div>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>





