.application-wrapper.container-fluid
  .row
    =render 'layouts/user_sidebar'
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  -if @course
                    %h1= @course.name
                  -else
                    %h1 El curso especificado no se encuentra registrado
                  %br
                .col-md-6
                  %h3= @course.description if @course

                .col-md-6
                  -if @course
                    -@course.categories.each do |c|
                      %h5= c.name
                .col-md-12
                  %br
                  %br
                  %h4 Su progreso en este curso
                  %br
                  .progress
                    .progress-bar.progress-bar-success{:role=>"progressbar", :"aria-valuenow"=>"#{@progress}", :"aria-valuemin"=>"0", :"aria-valuemax"=>"100", :style=>"width:#{@progress}%"}
                      = "#{@progress}%"
      -if @course
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  .panel-group#accordion{:role=>"tablist", :"aria-multiselectable"=>"true"}
                    - if @course.sections
                      - section_number = 1
                      - @course.sections.each do |s|
                        .panel.panel-default
                          .panel-heading{:id=>"heading+#{section_number}",:role=>"tab"}
                            %h4.panel-title
                              %a.collapsed{:role=>"button", :"data-toggle"=>"collapse", :"data-parent"=>"#accordion", :href=>"#collapse#{section_number}", :"aria-expanded"=>"false", :"aria-controls"=>"collapse#{section_number}"}
                                = s.name

                          .panel-collapse.collapse{:id=>"collapse#{section_number}",:role=>"tabpanel", :"aria-labelledby"=>"heading#{section_number}", :style=>"height: 0px;"}
                            .panel-body
                              %ol
                                - if s.resources
                                  - s.resources.each do |r|
                                    - case r.material_type
                                      - when "Video"
                                        - link_label = r.material.url
                                      - when "Blog"
                                        - link_label = r.generic_name
                                      - when "Task"
                                        - link_label = r.generic_name
                                    %li
                                      = link_to link_label, student_index_resource_path(r)
                                - else
                                  %h4 No hay recursos definidos para esta sección
                        - section_number += 1
                    - else
                      %h4 No hay secciones definidas para este curso
:javascript
  / $('.collapse').collapse('show')
