<div id="application"> 
  <!-- Vertical Nav -->
  <%= render 'student/navigation/vertical_navbar' %>
  <% show_explanation = !@answers.nil? %>
  <!-- Content -->
  <div id="container">
    <% 
      qs = 0
      target = ""
      met = ""
      met = :post
      target = "student_course_test_course_user_test_path(@course,@test,@course_user_test) unless @course_user_test.completed?"
    %>
    
    <!-- Content Homework Progress-->
    <div class="test-inner-wrapper">
      <div class="test-title-wrapper">
        <h1> Ejercicios de <%= @sub_category.name %> </h1>
      </div>
        
      <div class="test-content-wrapper">
        <div class=" row rox-fix">
          <!-- Question -->
          <% @questions.each do |q| %>
            <%= form_tag target, :method => met, :id => "form" do %>
            
              <div class="test-question">
                <p><%= q.content %></p>
                <% if q.picture.present? %>
                  <%= image_tag(q.picture, class: "img-responsive", alt: q.content) %>
                <% end %>
                <% if q.url %>
                  <%= link_to q.url, q.url %>
                <% end %>
                <% if q.questions %>
                  <% q.questions.each do |qss| %>
                    <!-- <hr style="width:80%"> -->
                    <div class="test-question">
                      <p><%= qss.content %></p>
                      <% if qss.picture.present? %>
                        <%= image_tag(qss.picture, class: "img-responsive", alt: qss.content) %>
                      <% end %>
                      <% if qss.url %>
                        <%= link_to qss.url, qss.url %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
                <% if q.choices %>
                  <% 
                  letters = ("A".."Z").to_a
                  lpos = 0
                  %>
                  <% q.choices.each do |c| %>
                    <%
                    cl = ""
                    st = ""
                    ch = false #@course_user_test.answers.find_by(question: q, choice: c) ? true : false
                    %>
                    <label class="coolbox">
                      <%= radio_button_tag "course_user_test[question_ids[#{q.id}]]", c.id, ch %>
                      <span class="box-number"> <%= letters[lpos] %> </span>
                      <span class="box-info"> <%= c.content %> </span>
                    </label>
                    <% lpos += 1 %>
                  <% end %>
                <% end %>
                <% qs+=1 %>
                <button class="btn btn-primary" type="submit">Contestar</button>
              </div>
            <% end %>
          <% end %>
        </div>  
      </div>
    </div>
    
  </div>

  <!-- <div class="modal fade bs-modal-sm" id="message" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="background-color:white;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" style="color:black;" id="ModalTitle"></h4>
        </div>
        <div class="modal-body">
          <p id="ModalBody"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Cerrar</button>
          <button type="button" class="btn btn-primary" id="accept">Sí, adelante</button>
        </div>
      </div>
    </div>
  </div> -->
</div>
<script>
  // var action = "";
  // $('#pause').on('click', function(event) {
  //   event.preventDefault();
  //   /* Act on the event */
  //   $('#ModalTitle').html('Pausar Examen');
  //   $('#ModalBody').html('¿Está seguro de querer pausar el examen?');
  //   action = "pause";
  //   showModal();
  // });

  // $('#qualify').on('click', function(event) {
  //   event.preventDefault();
  //   /* Act on the event */
  //   $('#ModalTitle').html('Calificar Examen');
  //   $('#ModalBody').html('¿Está seguro de querer calificar el examen? <br>Una vez procesado todas las preguntas sin respuesta serán marcadas como incorrectas.');
  //   action = "qualify";
  //   showModal();
  // });
  
  // $('#exit').on('click', function(event) {
  //   event.preventDefault();
  //   /* Act on the event */
  //   $('#ModalTitle').html('Ir a menú');
  //   $('#ModalBody').html('¿Está seguro de querer salir del examen? <br>Este será pausado y usted podrá continuar luego.');
  //   action = "pause";
  //   showModal();
  // });

  // $('#accept').on('click', function(event) {
  //   event.preventDefault();
    
  //   if (action == "pause")
  //     $('#action_form').val('pause');
  //   if (action == "qualify")
  //     $('#action_form').val('end');

  //   /* Act on the event */
  //   $('#message').modal('hide');

  //   $('#form').submit();
  // });

  // $('#closeModal').on('click', function(event) {
  //   /* Act on the event */
  //   action = "";
  // });


  // function showModal() {
  //   $('#message').modal({
  //     keyboard: false,
  //     backdrop: 'static'
  //   });
  // }

  // $('.clues-mobile').html($('.clues').html());

  // $('.coolbox').click(function(event) {
  //   /* Act on the event */
  //   var clue = $(this).attr('data-clue');
    
  //   $("."+clue).removeClass('later')
  //              .removeClass('no-answer')
  //              .addClass('answered');
  //   return true;
  // });

  // $('.answer-later').click(function(event) {
  //   var clue = $(this).attr('data-clue');
  //   var question = $(this).attr('data-question-id');
  //   $("."+clue).removeClass('answered')
  //              .removeClass('no-answer')
  //              .removeClass('later');
    
    
  //   if ($(this).is(":checked"))
  //   { 
  //     $("."+clue).addClass("later");
  //     $("label.label_"+clue).find("input").attr('checked',false);
  //     $("label.label_"+clue+" > span:nth-child(2)").removeClass('box-number')
  //                                     .removeClass('wrong')
  //                                     .removeClass('right')
  //                                     .addClass('box-number');
  //   }
  //   else
  //   { 
  //     $("."+clue).addClass("no-answer");
  //     $("label.label_"+clue+" > span:nth-child(2)").removeClass('box-number')
  //                                     .removeClass('wrong')
  //                                     .removeClass('right')
  //                                     .addClass('box-number');
  //   }
      
  //   return true;
  // });
</script>
<script>
  // clearInterval(interval);
  // var hour = parseInt("<%# @course_user_test.hour_left %>");
  // var min = parseInt("<%# @course_user_test.min_left %>");
  // var sec = parseInt("<%# @course_user_test.sec_left %>");
  // var interval = setInterval(function() {
  //   if (sec == 0) 
  //   {
  //     sec = 59;
  //     if (min == 0) 
  //     {
  //       min = 59;
  //       if (hour == 0) 
  //       {

  //       }
  //       else
  //       {
  //         hour--;
  //       }
  //     }
  //     else
  //     {
  //       min--;
  //     }
  //   }
  //   else
  //   {
  //     sec--;
  //   }
  
  //   if (hour==0 && min==0 && sec==0)
  //   {
  //     stopInterval();
  //     window.location = "<%# student_course_tests_path(@course) %>";
  //   }
    
  //   if (String(hour).length == 1)
  //     $("#hour, #hour_mobile").html("0"+hour);
  //   else
  //     $("#hour, #hour_mobile").html(hour);

  //   if (String(min).length == 1)
  //     $("#min, #min_mobile").html("0"+min);
  //   else
  //     $("#min, #min_mobile").html(min);

  //   if (String(sec).length == 1)
  //     $("#sec, #sec_mobile").html("0"+sec);
  //   else
  //     $("#sec, #sec_mobile").html(sec);

  // }, 1000);

  // function stopInterval() 
  // {
  //   clearInterval(interval);
  //   interval = null;
  // }

</script>
