/ Home Banner Start
.container-fluid.container-animation
  .row
    %div
      .rocket.animation-rocket
        = image_tag("rocket.png", class: "resources-img", id: "rocket" , alt: "Apredemy Cohete")
      = image_tag("cloud01.png", class: "animation-cloud", id: "cloud1" , alt: "Apredemy Nube")
      = image_tag("cloud02.png", class: "animation-cloud", id: "cloud2" , alt: "Apredemy Nube")
    .home-banner-wrapper.col-sm-12.col-md-12
      .home-banner-main-container
        %h1.home-banner-content-heading
          El 97% de nuestros estudiantes obtienen mejores notas en el ENES
        %h3 Ahora tú también lo puedes hacer
      .home-banner-buttons
        = link_to "Regístrate Gratis con Facebook", "users/auth/facebook", class: "aprendemy-btn btn btn-primary"
        %span O con tu
        %a.scroll{:href => "#registro"} cuenta de correo electrónico.
  %ul#bottom-cloud-landing
    %li
  #here.bounce
    %a.scroll{:href => "#here"}
      %i.scroll-down.fa.fa-angle-double-down
/ Home Community
.home-community-section.container
  %h4.home_bottom-signup_caption Miles de personas confían en nosotros. Únete a nuestra comunidad y descubre todas las ventajas que tenemos para ti.
  .community-icons
    %a{:href => "https://www.facebook.com/aprendemy", :target => "_blank"}
      %i#social-fb.fa.fa-facebook-square.fa-3x.social
    %a{:href => "https://twitter.com/aprendemy", :target => "_blank"}
      %i#social-tw.fa.fa-twitter-square.fa-3x.social
    %a{:href => "https://www.youtube.com/channel/UCc6N8LIO-yPIsDqM50ypxjQ", :target => "_blank"}
      %i#social-yt.fa.fa-youtube-square.fa-3x.social
    %a{:href => "https://www.instagram.com/aprendemy", :target => "_blank"}
      %i#social-in.fa.fa-instagram.fa-3x.social
    %a{:href => "mailto:hola@aprendemy.com"}
      %i#social-em.fa.fa-envelope-square.fa-3x.social
/ Home Resources
.home-resources-section.home_section_wrapper.container-fluid
  .lg-screen-container
    %h3.home_section_heading
      %span ¿Qué te ofrecemos?
    %p.home_section_caption
      Aprendemy es una plataforma online pensada para apoyarte en el proceso de ingreso a la Universidad. Nuestra tecnología y experiencia en educación te ayudarán a mejorar tus notas en los exámenes de la Senescyt con miles de ejercicios, respuestas, estadísticas y clases en vivo. Accesible donde quieras y cuando quieras.
  .line-section
  .row.lg-screen-container
    .home-resources-section-img-container.col-sm-6.col-md-3
      = image_tag("ejercicios.png", class: "resources-img", alt: "Apredemy Ejercicio")
      %h3.home-resources-heading Ejercicios Interactivos
      %p.home-resources-p
        ¡La práctica hace al maestro! Prepárate con miles de ejercicios en todas las áreas. Ya sea que acertaste o no, siempre encontrarás un enunciado  explicativo o un video que analiza en detalle las respuestas.
    .home-resources-section-img-container.col-sm-6.col-md-3
      = image_tag("simulacros.png", class: "resources-img", alt: "Apredemy Simulacros")
      %h3.home-resources-heading Simulacros de Exámenes
      %p.home-resources-p
        ¿Listo para tomar el examen real? ¡Descúbrelo! Con Aprendemy podrás tomar cuantos exámenes desees obteniendo un informe detallado para ajustar tu plan de estudios y trabajar tus falencias.
    .home-resources-section-img-container.col-sm-6.col-md-3
      = image_tag("estadisticas.png", class: "resources-img", alt: "Apredemy estadisticas")
      %h3.home-resources-heading Estadísticas Personalizadas
      %p.home-resources-p
        Observa tu progreso. Gracias a nuestra plataforma podrás conocer tus avances, tus fortalezas y debilidades, de manera que te centres en aquello que más necesitas y asegures la calidad de tu examen.
    .home-resources-section-img-container.col-sm-6.col-md-3
      = image_tag("vivo.png", class: "resources-img", alt: "Apredemy Clases en vivo")
      %h3.home-resources-heading Clases Online en Vivo
      %p.home-resources-p
        Únete a nuestros cursos en vivo con profesores preparados y con experiencia en enseñanza, descubre nuevas estrategias, infórmate de mejores métodos y sobre todo concéntrate en lo que realmente necesitas aprender.
/ What is Aprendemy
.home-aprendemy-section.container
  .lg-screen-container
    %h3.home_section_heading
      %span ¿Qué es Aprendemy?
    %p.home_section_caption
      Aprendemy es tu mejor aliado para ingresar a la Universidad. Nuestro equipo ha pensado en la manera de proporcionarte cursos específicos para que puedas rendir adecuadamente los exámenes estandarizados del país, e ingresar a la Universidad de tus sueños.
  .line-section
  .home-resources-section-img-container.center-container.row
    .col-sm-4
      = image_tag("all.png", class: "aprendemy-img", alt: "Apredemy tables y celulares")
    .aprendemy-text.col-sm-8
      %h3.home-resources-heading Donde quieras, cuando quieras
      %p.home-resources-p
        Olvídate de las aulas llenas, los horarios que no te cuadran y el molesto transporte. Tu tiempo es valioso y con Aprendemy podrás estudiar donde quieras y cuando quieras. Gracias a nuestra modalidad en línea puedes conectarte desde cualquier dispositivo y estudiar desde cualquier lugar sin desperdiciar tu tiempo y dinero.
  .home-resources-section-img-container.center-container.row
    .col-sm-4.img-hidden-sm
      = image_tag("comunidad.png", class: "aprendemy-img", alt: "Apredemy Comunidad")
    .aprendemy-text.col-sm-8
      %h3.home-resources-heading Comunidad
      %p.home-resources-p
        Únete a una gran comunidad de estudiantes que ya están dentro de Aprendemy. Gracias a la gran cantidad de personas, nuestra tecnología educativa mejora cada día, podrás trabajar a tu propio ritmo sin sentirte solo, y además con el apoyo de docentes expertos en el ENES.
    .img-hidden-lg.col-sm-4
      = image_tag("comunidad.png", class: "aprendemy-img", alt: "Apredemy Comunidad")
  .home-resources-section-img-container.center-container.row
    .col-sm-4
      = image_tag("mundo.png", class: "aprendemy-img", alt: "Apredemy Ejercicios Reales")
    .aprendemy-text.col-sm-8
      %h3.home-resources-heading Situaciones Reales
      %p.home-resources-p
        Somos el resultado de un equipo experto en educación, todas nuestras herramientas han sido diseñadas en base a la experiencia de nuestros docentes y miles de alumnos. Gracias a ello, la tecnología educativa de Aprendemy logra que puedas aprender más rápido y mejor para cumplir tu sueño de ingresar a la Universidad.
  .home-resources-section-img-container.center-container.row
    .col-sm-4.img-hidden-sm
      = image_tag("riguroso.png", class: "aprendemy-img", alt: "Apredemy es Riguroso")
    .aprendemy-text.col-sm-8
      %h3.home-resources-heading Ejercicios Rigurosos
      %p.home-resources-p
        ¿Será un camino fácil? Nuestro interés es que tengas facilidades, pero no por ello dejaremos de ser exigentes. Nuestros ejercicios y sus explicaciones están pensados para hacer de ti un estudiante de alto rendimiento, por ello te ofrecemos un curso con profesores expertos y ejercicios rigurosos.
    .img-hidden-lg.col-sm-4
      = image_tag("riguroso.png", class: "aprendemy-img", alt: "Apredemy es Riguroso")
#registro.home-payment-section.home_section_wrapper.container-fluid
  .row.center-container.lg-screen-container
    .col-sm-4.aprendemy-text
      %h1 Ingresa a la Universidad de tus sueños
      %p Crea una cuenta gratis para empezar.
    .form-card.col-sm-6.col-sm-offset-1
      %p.trial-banner.basic Empieza hoy mismo!
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .row
          .col-sm-6
            = f.text_field :first_name, class: "input-text", :placeholder => "Nombre"
          .col-sm-6
            = f.text_field :last_name, class: "input-text", :placeholder => "Apellido"
          .col-sm-12
            = f.email_field :email, class: "input-text", :placeholder => "Email"
          .col-sm-12
            = f.password_field :password, class: "input-text", :placeholder => "Password (Mínimo 6 caracteres)", autocomplete: "off"
          .col-sm-12
            = f.password_field :password_confirmation, class: "input-text", :placeholder => "Confirmación de Password", autocomplete: "off"
          %br
            .col-sm-12
              .input-text
                = f.label :Género, class: "gender-text"
                = f.radio_button :gender, true
                = image_tag("avatar-girl.png", :class=> 'img-gender' )
                = f.radio_button :gender, false
                = image_tag("avatar-guy.png", :class=> 'img-gender')
            .col-sm-12
              = f.submit "Reclama tu prueba gratis", class: "free-trial-button"
/ Footer
.footer
  %p.copyright
    Copyright © 2016. Aprendemy.
  .footer-img
    = image_tag("isotipo.png", class: "aprendemy-img", alt: "Apredemy Logo")
  .community-icons-footer
    %a{:href => "https://www.facebook.com/aprendemy", :target => "_blank"}
      %i#social-fb-footer.fa.fa-facebook-square.fa-3x.social
    %a{:href => "https://twitter.com/aprendemy", :target => "_blank"}
      %i#social-tw-footer.fa.fa-twitter-square.fa-3x.social
    %a{:href => "https://www.youtube.com/channel/UCc6N8LIO-yPIsDqM50ypxjQ", :target => "_blank"}
      %i#social-yt-footer.fa.fa-youtube-square.fa-3x.social
    %a{:href => "https://www.instagram.com/aprendemy/", :target => "_blank"}
      %i#social-in-footer.fa.fa-instagram.fa-3x.social
    %a{:href => "mailto:hola@aprendemy.com", :target => "_blank"}
      %i#social-em-footer.fa.fa-envelope-square.fa-3x.social

:javascript
  $(".scroll").click(function(event){
    event.preventDefault();
    //calculate destination place
    var dest=0;
    if($(this.hash).offset().top > $(document).height()-$(window).height()){
      dest= $(document).height()-$(window).height();
    }else{
      dest=$(this.hash).offset().top;
    }
    //go to destination
    $('html,body').animate({scrollTop:dest}, 1000,'swing');
  });
