<div class="application-navbar-profile">
	<% if (current_user.image != nil) %>
		<img src="<%= current_user.image%>" class="app-navbar-profile-img" alt="Apredemy-foto-usuario">
	<% else %>
		<%= image_tag("avatar.png", class: "app-navbar-profile-img", alt: "Apredemy-avatar") %>
	<%end%>
	<h1 class="app-navbar-heading"><%= current_user.first_name %> <%= current_user.last_name %></h1>
	<p class="app-navbar-text"><%= current_user.email %></p>
</div>