.application-navbar-profile
  .profile-header-img
    - if (current_user.image.present?)
      = image_tag(current_user.image.url, class: "app-navbar-profile-img", alt: "Apredemy-avatar")
    - else
      - if (current_user.gender == false)
        = image_tag("avatar-guy.png", class: "app-navbar-profile-img", alt: "Apredemy-avatar")
      - else
        = image_tag("avatar-girl.png", class: "app-navbar-profile-img", alt: "Apredemy-avatar")
  %h1.app-navbar-heading
    = current_user.first_name
    = current_user.last_name
  %p.app-navbar-text= current_user.email
  - if current_user.free?
    %p.app-navbar-text
      Tu licencia expira en:
      %br
        = current_user.license.days_left
        días
        %br
          %a{:href => "/payments"} Hazte Premium
  %div
    #fb-root
    = image_tag("isotipo.png", class: "isotipo-navbar", alt: "Apredemy-logo")
    .fb-like{"data-action" => "like", "data-href" => "https://facebook.com/aprendemy", "data-layout" => "button", "data-share" => "false", "data-show-faces" => "false"}

:javascript
  FB = null;
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    // if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=928864270524469";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
    / Your like button code
