<div class="banner live-class-bg">
	<div class="">
		<h3 class="live-class-heading hide-sml">La próxima clase empieza en:</h3>
		<h3 class="live-class-heading-mobile">Tu próxima clases online:</h3>
		<div class="clock-holder">
			<div class="clock flip-clock-wrapper my-clock" style="margin:2em;">
				<span class="flip-clock-divider days"><span class="flip-clock-label">Días</span></span>
				<ul class="flip ">
					<li class="flip-clock-before">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">9</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">9</div>
							</div>
						</a>
					</li>
					<li class="flip-clock-active">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">0</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">0</div>
							</div>
						</a>
					</li>
				</ul>
				<ul class="flip ">
					<li class="flip-clock-before">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">0</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">0</div>
							</div>
						</a>
					</li>
					<li class="flip-clock-active">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">2</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">2</div>
							</div>
						</a>
					</li>
				</ul>
				<span class="flip-clock-divider hours">
					<span class="flip-clock-label">Horas</span>
					<span class="flip-clock-dot top"></span>
					<span class="flip-clock-dot bottom"></span>
				</span>
				<ul class="flip ">
					<li class="flip-clock-before">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">0</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">0</div>
							</div>
						</a>
					</li>
					<li class="flip-clock-active">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">1</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">1</div>
							</div>
						</a>
					</li>
				</ul>
				<ul class="flip ">
					<li class="flip-clock-before">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">0</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">0</div>
							</div>
						</a>
					</li>
					<li class="flip-clock-active">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">3</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">3</div>
							</div>
						</a>
					</li>
				</ul>
				<span class="flip-clock-divider minutes">
					<span class="flip-clock-label">Minutos</span>
					<span class="flip-clock-dot top"></span>
					<span class="flip-clock-dot bottom"></span>
				</span>
				<ul class="flip  play">
					<li class="flip-clock-before">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">2</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">2</div>
							</div>
						</a>
					</li>
					<li class="flip-clock-active">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">1</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">1</div>
							</div>
						</a>
					</li>
				</ul>
				<ul class="flip  play">
					<li class="flip-clock-before">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">8</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">8</div>
							</div>
						</a>
					</li>
					<li class="flip-clock-active">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">7</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">7</div>
							</div>
						</a>
					</li>
				</ul>
				<span class="flip-clock-divider seconds">
					<span class="flip-clock-label">Segundos</span>
					<span class="flip-clock-dot top"></span>
					<span class="flip-clock-dot bottom"></span>
				</span>
				<ul class="flip  play">
					<li class="flip-clock-before">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">0</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">0</div>
							</div>
						</a>
					</li>
					<li class="flip-clock-active">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">5</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">5</div>
							</div>
						</a>
					</li>
				</ul>
				<ul class="flip  play">
					<li class="flip-clock-before">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">6</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">6</div>
							</div>
						</a>
					</li>
					<li class="flip-clock-active">
						<a href="#">
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">5</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">5</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row class-info-holder">
		<%= image_tag("class.png", alt: "Apredemy-clases-en-vivo") %>
		<div class="class-info-p">
			<h2 class="live-class-heading">Tema: <%= @enes.subject %></h2>
			<p> <%= @enes.explanation %></p>
			<h2 class="live-class-heading" >Profe: <%= @enes.professor %></h2>
		</div>		
	</div>
</div>


<script type="text/javascript">	

	var d  = <%= @time %>;

	var clock;

	var now   = new Date();
	var date = new Date(d);
	var ecu = date.setHours(date.getHours()+5)

	var date_ecu = new Date(ecu)

	var diff  = date_ecu.getTime()/1000 - now.getTime()/1000;


	$(document).ready(function() {
		var clock;

		clock = $('.clock').FlipClock({
	        clockFace: 'DailyCounter',
			language:'es-es',
	        autoStart: false,
	        callbacks: {
	        	stop: function() {
	        		$('.message').html('The clock has stopped!')
	        	}
	        }
	    });
			    
	    clock.setTime(diff);
	    clock.setCountdown(true);
	    clock.start();
});</script>