.banner.live-class-bg
  %div
    %h3.live-class-heading.hide-sml La próxima clase empieza en:
    %h3.live-class-heading-mobile Tu próxima clases online:
    .clock-holder
      .clock.flip-clock-wrapper.my-clock{:style => "margin:2em;"}
        %span.flip-clock-divider.days
          %span.flip-clock-label Días
        %ul.flip
          %li.flip-clock-before
            %a{:href => "#"}
              .up
                .shadow
                .inn 9
              .down
                .shadow
                .inn 9
          %li.flip-clock-active
            %a{:href => "#"}
              .up
                .shadow
                .inn 0
              .down
                .shadow
                .inn 0
        %ul.flip
          %li.flip-clock-before
            %a{:href => "#"}
              .up
                .shadow
                .inn 0
              .down
                .shadow
                .inn 0
          %li.flip-clock-active
            %a{:href => "#"}
              .up
                .shadow
                .inn 2
              .down
                .shadow
                .inn 2
        %span.flip-clock-divider.hours
          %span.flip-clock-label Horas
          %span.flip-clock-dot.top
          %span.flip-clock-dot.bottom
        %ul.flip
          %li.flip-clock-before
            %a{:href => "#"}
              .up
                .shadow
                .inn 0
              .down
                .shadow
                .inn 0
          %li.flip-clock-active
            %a{:href => "#"}
              .up
                .shadow
                .inn 1
              .down
                .shadow
                .inn 1
        %ul.flip
          %li.flip-clock-before
            %a{:href => "#"}
              .up
                .shadow
                .inn 0
              .down
                .shadow
                .inn 0
          %li.flip-clock-active
            %a{:href => "#"}
              .up
                .shadow
                .inn 3
              .down
                .shadow
                .inn 3
        %span.flip-clock-divider.minutes
          %span.flip-clock-label Minutos
          %span.flip-clock-dot.top
          %span.flip-clock-dot.bottom
        %ul.flip.play
          %li.flip-clock-before
            %a{:href => "#"}
              .up
                .shadow
                .inn 2
              .down
                .shadow
                .inn 2
          %li.flip-clock-active
            %a{:href => "#"}
              .up
                .shadow
                .inn 1
              .down
                .shadow
                .inn 1
        %ul.flip.play
          %li.flip-clock-before
            %a{:href => "#"}
              .up
                .shadow
                .inn 8
              .down
                .shadow
                .inn 8
          %li.flip-clock-active
            %a{:href => "#"}
              .up
                .shadow
                .inn 7
              .down
                .shadow
                .inn 7
        %span.flip-clock-divider.seconds
          %span.flip-clock-label Segundos
          %span.flip-clock-dot.top
          %span.flip-clock-dot.bottom
        %ul.flip.play
          %li.flip-clock-before
            %a{:href => "#"}
              .up
                .shadow
                .inn 0
              .down
                .shadow
                .inn 0
          %li.flip-clock-active
            %a{:href => "#"}
              .up
                .shadow
                .inn 5
              .down
                .shadow
                .inn 5
        %ul.flip.play
          %li.flip-clock-before
            %a{:href => "#"}
              .up
                .shadow
                .inn 6
              .down
                .shadow
                .inn 6
          %li.flip-clock-active
            %a{:href => "#"}
              .up
                .shadow
                .inn 5
              .down
                .shadow
                .inn 5
  .row.class-info-holder
    = image_tag("class.png", alt: "Apredemy-clases-en-vivo")
    .class-info-p
      %h2.live-class-heading
        Tema: #{@enes.subject}
      %p
        = @enes.explanation
      %h2.live-class-heading
        Profe: #{@enes.professor}

:javascript
  var d  = #{@time};
  
  	var clock;
  
  	var now   = new Date();
  	var date = new Date(d);
  	var ecu = date.setHours(date.getHours()+6)
  
  	var date_ecu = new Date(ecu)
  
  	var diff  = date_ecu.getTime()/1000 - now.getTime()/1000;
  
  
  	$(document).ready(function() {
  		var clock;
  
  		clock = $('.clock').FlipClock({
  	        clockFace: 'DailyCounter',
  			language:'es-es',
  	        autoStart: false,
  	        callbacks: {
  	        	stop: function() {
  	        		$('.message').html('The clock has stopped!')
  	        	}
  	        }
  	    });
  			    
  	    clock.setTime(diff);
  	    clock.setCountdown(true);
  	    clock.start();
  });