<%= form_for(@university) do |f| %>
  <% if @university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@university.errors.count, "error") %> prohibited this university from being saved:</h2>

      <ul>
      <% @university.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :province %><br>
    <%= f.text_field :province %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="form-group">
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </div>
  <div class="form-group">
    <%= f.label :type, class: "control-label" %>
    <% options= [["Universidad",0], ["Instituto",1]] %>
      <%= f.select :type, options, {}, :disabled => false, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
