<% if @sub_category %>
	<div class="content-wrapper col-sm-9 col-md-10 ">
		<div class="application-content row">


			<div class="content-margin row">

				<div class="application-content-header">
					<h3><%=@sub_category.name%></h3>
				</div>

        <div class="app-text-holder question-btn-holder row">
          <%= link_to "Preguntas por resolver", category_sub_category_path(@category, @sub_category), class:"btn btn-info sub-category-btn", remote: true %>
          <%= link_to "Preguntas resueltas", category_sub_category_show_answered_questions_path(@category, @sub_category), class:"btn btn-info sub-category-btn", remote: true %>
        </div>

        <div class="exercises-answers-holder row">
          

          <% @questions.each do |question| %>
            <div class="question_<%= question.id %>">

              <p>
                <%=  render partial: "questions/show", locals: { question: question} %>
              </p>
            </div>
          <% end %>

          <%= paginate @questions, :window => 0, :remote => true %>

        </div>
			</div>

		</div>

	</div>

<% end %>
