<% sub_cats_answered = []; sub_cats_correct = []; sub_cats_incorrect = [] %>
<% answered = 0; correct = 0; incorrect = 0; total = 0; questions_count = 0 %>

<h3 class="table-head">Tabla de Ejercicios</h3>

<table class="table-exercises table table-bordered">
  <thead>
    <tr>
      <th class="tb-h">Area</th>
      <!-- <th width="50">Preguntas</th> -->
      <th class="tb-h tb-answered">Preguntas Contestadas</th>
      <th class="tb-h">Preguntas correctas</th>
      <th class="tb-h">Preguntas incorrectas</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr class="table-category">
        <td class="tb-r tb-category-heading"><%= category.name %></td>
        <!-- <td align="center"><%= category.questions.count %></td> -->
        <td class="tb-r tb-answered"><%= category.answered_questions_list(current_user.id).count %></td>
        <td class="tb-r"><%= category.answered_correctly(current_user.id).count %></td>
        <td class="tb-r"><%= category.answered_incorrectly(current_user.id).count %></td>
      </tr>
      
      <% category.sub_categories.each do |sub_category| %>

      <!-- Filter Empty Subcategories -->

      <% unless sub_category.questions.count == 0 %>
          <!-- individual sub_category stats -->
          <% total = sub_category.questions.count %>
          <% answered = sub_category.answered_questions_list(current_user.id).count %>
          <%# sub_cats_answered << ((answered.to_f/(total > 0 ? total.to_f : 1)) * 100) %>
          <% correct = sub_category.answered_correctly(current_user.id).count %>
          <% sub_cats_correct << ((correct.to_f/(answered > 0 ? answered.to_f : 1)) * 100) %>
          <% incorrect =  sub_category.answered_incorrectly(current_user.id).count %>
          <% sub_cats_incorrect << ((incorrect.to_f/(answered > 0 ? (answered.to_f) : 1)) * 100) %>
          <% @sub_category_names << sub_category.name %>
          <%# @sub_category_dates << sub_category.updated_at %>

            <tr class="table-category">
              <td class="table-subcategory tb-r">
                <i class="glyphicon glyphicon-ok-circle icon-tb"></i>
                <%= link_to sub_category.name, category_sub_category_path(category, sub_category), remote: true, :class=> 'sub_category-name'  %>
              </td>
              <!-- <td align="center"><%= total %></td> -->
              <td class="tb-r tb-answered table-subcategory-r"><%= answered %></td>
              <td class="tb-r table-subcategory-r"><%= correct %></td>
              <td class="tb-r table-subcategory-r"><%= incorrect %></td>
            </tr>

          <% end if category %>
      <% end %>
    <% end if @categories %>
  </tbody>
</table>


<%# @series << {name: 'Question answered', data: sub_cats_answered, color: '#7cb5ec'} %>
<% @series << {name: 'Preguntas Correctas', data: sub_cats_correct, color: '#90ed7d' } %>
<% @series << {name: 'Preguntas Incorrectas', data: sub_cats_incorrect, color: '#EA586B' }%>
