<h1>Sub categories for <%= @category %></h1>
<p>
  <%= link_to "All categories", categories_path, remote: true %> |
  <%= link_to "< Back to Category", category_path(@category), remote: true %> |
  <%= link_to "New category", new_category_path, remote: true %>
</p>

<ul>
<% @sub_categories.each do |sub_category| %>
  <li><%= link_to sub_category.name, category_sub_category_path(@category, sub_category) %></li>
<% end if @sub_categories %>
</ul>
