<% if @sub_category %>
  <h1><%= @sub_category.name %></h1>
  <p><%= link_to "All categories", categories_path %></p>
  <p><%= link_to "< Back to Category", category_path(@category) %></p>
  <%= link_to "Edit", edit_category_sub_category_path(@category, @sub_category)%> |
  <%= link_to "Create a question", new_category_sub_category_question_path(@category, @sub_category, @question) %>

<p>Questions</p>
  <ul>
    <% @sub_category.questions.each do |question| %>
      <li>
        <%= link_to question.content, category_sub_category_question_path(@category, @sub_category, question) %>
      </li>
    <% end if @sub_category.questions %>
  </ul>
<% end %>
