<div id="container">
  <!-- Vertical Nav -->
    <%= render 'student/navigation/vertical_navbar' %>
  <!-- Course Tools -->
  <div class="main-navigation">

    <div class="main-title-wrapper">
      <h1> Clases en Video </h1>
    </div>

    <div class="main-content-wrapper">

      <% @categories.each do |category| %>
        <div class="category-wraper">
          <div class="category-heading">
            <h1><%= category.name %></h1>
          </div>
          <div class="subcategories-wraper">
            <div class=" row">
              <% category.sub_categories.each do |subcategory| %>


                <% subcategory.video_classes.each do |videoclass| %>

                  <%= link_to student_course_video_class_path(@course, videoclass.id), class: "col-md-3 col-sm-4 col-xs-12 cat-grid subcategory-holder",  style: "display: inline-block;" do %>

                        <div class="subcategory-card" style="background-image: url('<%= videoclass.picture.url %>');">
                          
                          <div class="subcategory-info-wrapper">
                            
                            <h2 class="subcategory-title">
                              <p><%= videoclass.title %></p>
                            </h2>
                            
                            

                          </div>
                        </div>
                  <% end %>

                <% end %>

              <% end %>

            </div>
          </div>
        </div>
      <% end %>


      
    </div>
  </div>
</div>

