<div>
  <nav class="navbar navbar-default landing-navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed landing-navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

          <a class="navbar-brand" href="/">
            <%= image_tag("logo.png", id:"logo-landing-navbar",  alt: "Apredemy-logo") %>
          </a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="scroll">Inicio</a></li>
          <li><a class="btn btn-primary btn-session-landing " href="/users/sign_up" >Registro</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>


<div class="sessions-container" >
  
  <div class="container"> 
    <div class=" sessions-wrapper">
    
      <h1 class="sessions-title">Ingresa a la Universidad de tus sueños</h1>
      <p> Con Aprendemy tu éxito en los exámenes de la Senescyt está garantizado. Estudia lo que quieras en el lugar y el momento que prefieras...... </p><p><%= ENV["FACEBOOK_APP_ID"] %></p>


      
      <div class="sessions-form-container"> 

        <a class="register-fb-btn btn btn-primary" href="<%= user_facebook_omniauth_authorize_path %>"> 
           <i class="fa fa-facebook-square register-fb-text"> Inicia Sesión con Facebook </i> 
        </a> 

        <div class="divider">
            <i class="fa fa-circle-o"></i>
        </div>

        <h3 class="session-init-email" >
            Inicia sesión con tu correo electrónico
        </h3>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me  %>
              <%= f.label :recordarme %>
            </div>
          <% end -%>

            <div class="actions">
              <%= f.submit "Ingresar", class: "btn btn-primary"  %>
            </div>
        <% end %>
        <br>
        <a class="sessions-link" href="/users/sign_up">¿No tienes una cuenta? Regístrate </a>
        <br>
        <a class="sessions-link" href="/users/password/new">¿Olvidaste tu contraseña?</a>
      </div>

    </div>  

    </div>
  </div>
</div>


<%= render 'home/footer' %>



