.alert.fade.in.alert-notice{ :style=>"display:none; margin-bottom:0;"}
  .button.close{ :"data-dismiss"=>"alert"}
    ×
  .show-flash
.application-wrapper.container-fluid
  .row
    =render 'layouts/user_sidebar'
    - show_explanation = !@answers.nil?
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              %ol.breadcrumb{:style=>"background-color:#fff"}
                = render_breadcrumbs :tag => :li, :separator => ""
                .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  %h3= "Exámenes Del Curso"
                  %table.table
                    %thead
                      %tr
                        %th
                          Examen
                        %th
                          Descripción
                        %th
                          Acciones
                    %tbody
                      - @tests.each do |t|
                        %tr
                          %td= t.title
                          %td= t.description
                          -#%td= link_to 'Tomar Examen', student_new_test_path(@course, t), class: 'btn btn-success'
                          %td= link_to 'Tomar Examen', new_student_course_test_course_user_test_path(@course, t), class: 'btn btn-success' if !CourseUserTest.where(course_user: @course_user, completed: false).present?
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  %h3= "Tabla de Exámenes"
                  %table.table
                    %thead
                      %tr
                        %th
                          Examen
                        %th
                          Estado
                        %th
                          Preguntas Totales
                        %th
                          Tiempo restante
                        %th
                          Preguntas Contestadas
                        %th
                          Preguntas Correctas
                        %th
                          Preguntas Incorrectas
                        %th
                          Acciones
                    %tbody
                      - @course_user_tests.each do |cut|
                        %tr
                          %td= cut.test.title
                          %td= cut.completed ? 'Completado' : 'Pausado'
                          %td= cut.test.questions.count
                          %td= "#{cut.hour_left}:#{cut.min_left}:#{cut.sec_left}" if !cut.completed
                          %td= cut.total_answers
                          %td= cut.correct_answers if cut.completed
                          %td= cut.incorrect_answers if cut.completed
                          %td= link_to 'Completar', edit_student_course_test_course_user_test_path(@course,cut.test,cut.id), class: 'btn btn-success' if !cut.completed
