<div id="container">
  <!-- Vertical Nav -->
  <%= render 'backend/navigation/vertical_navbar' %>
  
  <div class="main-navigation">

    <div class="main-title-wrapper">
      <h1> Categorías </h1>
    </div>
    <div class="main-content-wrapper">
      <p id="notice"><%= notice %></p>

      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Sub-categorías</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @backend_categories.each do |backend_category| %>
            <tr>
              <td><%= backend_category.name %></td>
              <td><%= backend_category.sub_categories_count %></td>
              <td><%= link_to 'Ver', backend_category_path(backend_category) %></td>
              <td><%= link_to 'Editar', edit_backend_category_path(backend_category) %></td>
              <td><%= link_to 'Eliminar', backend_category_path(backend_category), method: :delete, data: { confirm: '¿Está seguro de eliminar este registro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Nueva categoría', new_backend_category_path, class: 'btn btn-primary' %>

    </div>
  </div>
</div>
