<div id="container">
  <!-- Vertical Nav -->
  <%= render 'backend/navigation/vertical_navbar' %>
  
  <div class="main-navigation">

    <div class="main-title-wrapper">
      <h1> Categorías </h1>
    </div>
    <div class="main-content-wrapper">
      

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nombre:</strong>
        <%= @backend_category.name %>
      </p>

      <p>
        <strong>Sub-categorías:</strong>
        <%= @backend_category.sub_categories_count %>
      </p>

      <br>

      <%= link_to 'Editar', edit_backend_category_path(@backend_category), class: "btn btn-primary" %>
      <%= link_to 'Atrás', backend_categories_path, class: "btn btn-primary" %>

    </div>
  </div>
</div>

<script type="text/javascript">
</script>
