.alert.fade.in.alert-notice{ :style=>"display:none; margin-bottom:0;"}
  .button.close{ :"data-dismiss"=>"alert"}
    ×
  .show-flash
.application-wrapper.container-fluid
  .row
    =render 'layouts/user_sidebar'
    - show_explanation = !@answers.nil?
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              %ol.breadcrumb{:style=>"background-color:#fff"}
                = render_breadcrumbs :tag => :li, :separator => ""
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  %h1= @course_user_test.test.title
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  - qs = 0
                  - target = ""
                  - met = ""
                  - met = :post
                  - target = student_course_test_course_user_tests_path unless @course_user_test.completed
                  = form_tag target, :method => met do
                    - @course_user_test.test.questions.each do |q|
                      %h3= q.content
                      - if @answers
                        - wrong = true if @answers.where(question_id: q.id).first.choice_id != q.choice_id
                      - if q.picture.present?
                        = image_tag(q.picture, class: "img-responsive", alt: q.content)
                      - if q.explanation && show_explanation
                        %p.lead.explanation
                          = q.explanation
                      - if q.url
                        = link_to q.url, q.url
                      - if q.questions
                        - q.questions.each do |qs|
                          %hr{:style=>"width:80%"}
                          %h3= qs.content
                          - if qs.picture.present?
                            = image_tag(qs.picture, class: "img-responsive", alt: qs.content)
                          - if @answers
                            %p.lead
                              = qs.explanation
                          - if qs.url
                            = link_to qs.url, qs.url
                      - if q.choices
                        - q.choices.each do |c|
                          - cl = ""
                          - st = ""
                          - ch = false
                          - if @answers
                            - if @answers.where(question_id: q.id).first.choice_id == c.id
                              - ch = true
                              - if wrong
                                - cl = "has-error"
                                - st = "border: thin solid red"
                              - else
                                - cl = "has-success"
                                - st = "border: thin solid green"
                          %div{:class=>cl, :style=>st}
                            .radio
                              %label
                                = radio_button_tag "question_ids[#{q.id}]", c.id, ch
                                = c.content
                                - if @answers
                                  - if @answers.where(question_id: q.id).first.choice_id == c.id
                                    - if wrong
                                      %span.text-danger
                                        * Error
                      -qs+=1
                      %hr
                    = button_tag 'Terminar Test' , class: 'btn btn-primary submit' , type: :submit unless @course_user_test.completed


