- question ||= @question
- answered_question ||= (@answered_question || get_simulator_answered_question(SimulatorAnsweredQuestion, @simulator.id, question.id))
- count = 0
%div{:id => "question-#{question.id}"}
  %p= question.content
  = form_for [@simulator, question, answered_question], remote: true do |f|
    - question.choices.each do |choice|
      - was_selected = answered_question.choice_id == choice.id
      - status = right_answer? question, choice, answered_question, was_selected;
      = f.radio_button :choice_id, choice.id, checked: was_selected, class: "#{status}", disabled: true
      %span{:class => status}= " #{options[count]}  #{choice.content}"
      %br/
      - count += 1
    - end if question.choices
  .explanation
    %p
      = question.explanation unless answered_question.unanswered?
  %hr/
