.application-wrapper.container-fluid
  .row
    =render 'layouts/user_sidebar'
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              %ol.breadcrumb{:style=>"background-color:#fff"}
                = render_breadcrumbs :tag => :li, :separator => ""
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  %h1= @resource.generic_name
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  - case @resource.material_type
                    - when "Video"
                      %h2.lead= @resource.material.description
                      %br
                      %iframe{:width=>"560", :height=>"315", :src=>"#{@resource.material.url}", :frameborder=>"0", :allowfullscreen=>""}
                    - when "Blog"
                      %p.lead= @resource.material.title
                      = @resource.material.content.html_safe
                      %hr
                      = link_to "Terminar Tarea", student_resource_path(@resource, resource_progress_id: @resource_progress.id), :method=> :put, class: 'btn btn-primary' unless @resource_progress.completed
                    - when "Task"
                      %p.lead= @resource.material.title
                      %p= @resource.material.description
                      - if @resource.material.questions
                        / TODO: Definir la ruta que va a procesar el formulario
                        = form_tag student_resource_path(@resource, resource_progress_id: @resource_progress.id), :method => :put do
                          - @resource.material.questions.each do |q|
                            %h3= q.content
                            - if q.picture.present?
                              = image_tag(q.picture, class: "img-responsive", alt: q.content)
                            - if q.explanation
                              %p.lead
                                = q.explanation
                            - if q.url
                              = link_to q.url, q.url
                            - if q.questions
                              - q.questions.each do |qs|
                                %hr{:style=>"width:80%"}
                                %h3= qr.content
                                - if qr.picture.present?
                                  = image_tag(qr.picture, class: "img-responsive", alt: qr.content)
                                - if qr.explanation
                                  %p.lead
                                    = qr.explanation
                                - if qr.url
                                  = link_to qr.url, qr.url
                            - if q.choices
                              - q.choices.each do |c|
                                %p
                                  = radio_button_tag "question[#{q.id}]", c.id
                                  = c.content
                            %hr
                          = button_tag 'Terminar Tarea' , class: 'btn btn-primary' , type: :submit
