.alert.fade.in.alert-notice{ :style=>"display:none; margin-bottom:0;"}
  .button.close{ :"data-dismiss"=>"alert"}
    ×
  .show-flash
.application-wrapper.container-fluid
  .row
    =render 'layouts/user_sidebar'
    - show_explanation = !@answers.nil?
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              %ol.breadcrumb{:style=>"background-color:#fff"}
                = render_breadcrumbs :tag => :li, :separator => ""
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  %h1= @resource.generic_name
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  - case @resource.material_type
                    - when "Video"
                      %h2.lead= @resource.material.description
                      %br
                      -var = @resource.material.url[-11,11]
                      %div{:id=>"video-placeholder"}
                    - when "Blog"
                      %p.lead= @resource.material.title
                      = @resource.material.content.html_safe
                      %hr
                      / = #(link_to "Terminar Tarea", student_complete_resource_path(@resource, section_id: @resource_progress.section_id, course_user_id: @resource_progress.course_user.course.id), :method=> :put, class: 'btn btn-primary') unless @resource_progress.completed
                      = (link_to "Terminar Tarea", student_complete_resource_path(:id => @resource), :method=> :put, class: 'btn btn-primary') unless @resource_progress.completed
                    - when "Task"
                      -qs = 0
                      %p.lead= @resource.material.title
                      %p= @resource.material.description
                      - target = ""
                      - met = ""
                      - if @resource.material.questions
                        - met = :put unless @resource_progress.completed
                        - target = student_complete_resource_path unless @resource_progress.completed
                        = form_tag target, :method => met do
                          = hidden_field_tag :id, @resource.id
                          - @resource.material.questions.each do |q|
                            %h3= q.content
                            - if @answers
                              - wrong = true if @answers.where(question_id: q.id).first.choice_id != q.choice_id
                            - if q.picture.present?
                              = image_tag(q.picture, class: "img-responsive", alt: q.content)
                            - if q.explanation && show_explanation
                              %p.lead.explanation
                                = q.explanation
                            - if q.url
                              = link_to q.url, q.url
                            - if q.questions
                              - q.questions.each do |qs|
                                %hr{:style=>"width:80%"}
                                %h3= qr.content
                                - if qr.picture.present?
                                  = image_tag(qr.picture, class: "img-responsive", alt: qr.content)
                                %h3= qs.content
                                - if qs.picture.present?
                                  = image_tag(qs.picture, class: "img-responsive", alt: qs.content)
                                - if @answers
                                  %p.lead
                                    = qs.explanation
                                - if qs.url
                                  = link_to qs.url, qs.url
                            - if q.choices
                              - q.choices.each do |c|
                                - cl = ""
                                - st = ""
                                - ch = false
                                - if @answers
                                  - if @answers.where(question_id: q.id).first.choice_id == c.id
                                    - ch = true
                                    - if wrong
                                      - cl = "has-error"
                                      - st = "border: thin solid red"
                                    - else
                                      - cl = "has-success"
                                      - st = "border: thin solid green"
                                %div{:class=>cl, :style=>st}
                                  .radio
                                    %label
                                      = radio_button_tag "question_ids[#{q.id}]", c.id, ch
                                      = c.content
                                      - if @answers
                                        - if @answers.where(question_id: q.id).first.choice_id == c.id
                                          - if wrong
                                            %span.text-danger
                                              * Error
                            -qs+=1
                            %hr
                          = button_tag 'Terminar Tarea' , class: 'btn btn-primary submit' , type: :submit unless @resource_progress.completed
- if @resource.material_type == "Task"
  :javascript
    $(document).ready(function(){
      console.log( #{qs} );
      $('.submit').click(function(){
        if( $('input[name^="question_ids"]:checked').size() != #{qs} ){
          alert("Debe seleccionar una opción");
          return false;
        }
      });
      return false;
    });
- if @resource.material_type == "Video"
  %script{:src=>"http://www.youtube.com/iframe_api"}
  :javascript
    var player,
      time_update_interval = 0;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('video-placeholder', {
            width: 600,
            height: 400,
            videoId: '#{var}',
            playerVars: {
                color: 'white'
            },
            events: {
                onStateChange: finished
            }
        });
    }
    function finished(event)
    {
      if (event.data == 0){
        $.ajax({
           url: '#{student_complete_resource_path}',
           type: 'PUT',
           dataType: 'json',
           data: { id: #{(@resource.id)} },
           success: function(data) {
            if (data[0].success)
            {
              $(".show-flash").html(data[0].message);
              $(".alert")
                .addClass("alert-success")
                .show();
              }
            }
        });
      }
    }
