%header
  %nav.navbar.navbar-default{:role => "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.aprendemy-logo{:href => "/"}
          = image_tag("logo.png", class: "menu_icon", alt: "Apredemy-logo")
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.in-app-anchor.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Bienvenido #{current_user.first_name}
              %b.caret
            %ul.dropdown-menu
              %li.navbar-mobile-bg
                .navbar-content
                  .row
                    .col-md-5.avatar-container
                      - if (current_user.image.present?)
                        = image_tag(current_user.image.url, class: "img-responsive", alt: "Apredemy-avatar")
                      - else
                        - if (current_user.gender == false)
                          = image_tag("avatar-guy.png", class: "img-responsive", alt: "Apredemy-avatar")
                        - else
                          = image_tag("avatar-girl", class: "img-responsive", alt: "Apredemy-avatar.png")
                      %p.text-center.small.img-text
                        = link_to 'Cambiar Foto de Perfíl', edit_user_registration_path
                    .col-md-7.nav-info-container
                      %span
                        = current_user.first_name
                        = current_user.last_name
                      %p.text-muted.small
                        = current_user.email
                      .divider
                      = link_to 'Editar perfil', edit_user_registration_path, :class => 'btn btn-primary btn-sm active'
                .navbar-footer
                  .navbar-footer-content
                    .row
                      .col-md-12
                        = link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, :class => 'btn btn-default btn-sm pull-right'
      / /.navbar-collapse
    / /.container-fluid
