<div class="application-navbar col-sm-3 col-md-2">

  <%= render 'home/navbar_image.html' %>


  <div class="navbar-links section">
    <h1 class="link-heading">Herramientas</h1>
      <div class="link-list-group-container">
        <ul class="link-list-group-options nav-pills nav-stacked">

          <li class="list">
                <%= link_to root_path  do%>
                  <span class="icon icon-home"></span>Inicio
                <% end %>
            </li>

            <li class="list <%= 'active' if params[:controller] == 'categories' %>">
              <%= link_to categories_path  do%>
                <span class="icon icon-exercises"></span>Ejercicios
              <% end %>
            </li>
            <!-- SUB Menus -->
            <% @categories.each do |category| %>
                  <li class="dropdown-exercises list-submenu" >
                      <i class="fa fa-pencil icon-category"></i>
                      <span class="category-name"><%= category.name %></span>
                      <% if category.sub_categories %>
                        <ul class="nested-submenu">
                          <% category.sub_categories.each do |sub_category| %>
                            <li>
                              <%= link_to sub_category.name, category_sub_category_path(category, sub_category), remote: true %>
                            </li>
                          <% end  %>
                        </ul>
                      <% end %>
                  </li>
            <% end if @categories %>
            <!-- Submenu Final -->

            <li class="list <%= 'active' if params[:controller] == 'simulators'%> ">
              <%= link_to simulators_path do %>
                <span class="icon icon-simulator"></span>Simuladores
              <% end %>
            </li>
            <li class="list <%= 'active' if params[:controller] == 'live_classes'%> ">
              <%= link_to live_classes_index_path do %>
                <span class="icon icon-simulator"></span>Clases en Vivo
              <% end %>
            </li>
        </ul>
      </div>
  </div>

  <div class="navbar-links section">
    <h1 class="link-heading">Comunidad</h1>
      <div class="link-list-group-container">
        <ul class="link-list-group-options nav-pills nav-stacked">

          <li class="list">
              <a >
                  <span class="icon icon-face"></span>Facebook
                </a>
            </li>
            <li class="list">
              <a>
                  <span class="icon icon-help"></span>Soporte
                </a>
            </li>
        </ul>
      </div>
  </div>
</div>
