!!!
%html{:lang => "es"}
  %head
    %meta{:charset => "utf-8"}
      / Titutlo
      %title Aprendemy - Aprueba el examen ENES de la SENESCYT
      / Icono
      = favicon_link_tag 'isotipo.png'
      / Viewport
      %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}
        / Key Words
        %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
          %meta{:content => "Aprendemy.com te ofrece cientos de preguntas, videos explicativos simuladores del examen y mas herramientas de estudio con las que te preparamos para el ENES", :name => "description"}
            %meta{:content => " Aprendemy.com te ofrece cientos de preguntas, videos explicativos simuladores del examen y mas herramientas de estudio con las que te preparamos para el ENES", :name => "abstract"}
              %meta{:content => "Aprendemy", :name => "author"}
                %meta{:content => "Aprendemy.com", :name => "copyright"}
                  %meta{:content => "ENES, Preuniversitario, Cursos preuniversitarios, Preguntas ENES, Preparación para examen del Senescyt, Preparación para ingreso a universidades, Practicar para el examen de la Senescyt, examenes ENES resueltos, examenes anteriores del enes, banco de preguntas del ENES, examen Senescyt, examen del snna, Cursos de ingreso a universidades, simulador del Senescyt, simulador del ENES, Inscripciones para el ENES, Prueba senescyt resuelta, ejercicios de razonamiento abstracto, ejercicios de aptitud numerica, ejercicios de aptitud verbal, preguntas de razonamiento numerico, preguntas de razonamiento abstracto, inscripciones para el examen de la Senescyt, Inscripciones para el examen del SNNA", :name => "keywords"}
                    %meta{:content => "El Curso Online ENES-SENESCYT de Aprendemy.com te ayuda a ingresar a la Universidad.", :property => "og:title"}
                      %meta{:content => "Aprendemy te ofrece cientos de preguntas, videos explicativos simuladores del examen y clases online con las que te preparamos para el ENES", :property => "og:description"}
                        / Fonts
                        %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400,300italic,700", :rel => "stylesheet", :type => "text/css"}
                          = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
                          = javascript_include_tag 'application', 'data-turbolinks-track' => false
                          = csrf_meta_tag
  %body
    / Navbar
    - if user_signed_in?
      = render "layouts/navbar_app"
    - else
      = render "layouts/navbar_sing_in"
    / Navbar
    = render "layouts/flash"
    = yield
